.information {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 1px rgba(255, 255, 255, 0.384);
    background-color: rgba(0, 0, 0, 0.466);
    animation: showInformation 600ms forwards;
}

.information .estadium {
    margin: 1rem 0;
    width: 1000px;
}

.galeria {
    margin: 0.5rem;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 5px;
}

.galeria img {
    margin-left: 1rem;
    width: 500px;
}

.redes-sociais {
    background-color: rgba(255, 255, 255, 0.384);
    display: flex;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    border-radius: 5px;
}

.redes-sociais a img {
    width: 50px;
    margin-left: 0.5rem;
}

@keyframes showInformation {
    from {
        opacity: 0;
        transform: translate3d(0, -200px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}